<div class="container-display">
  <p style="color: green"><%= notice %></p>

  <div class="container-all-listings">
    <% if @listings.count > 0 %>
      <h1>Grab these listings</h1>
      <div id="listings">
        <% @listings.each do |listing| %>
          <%= link_to listing do %>
            <div class="card-trip">
              <%= image_tag(listing.image_url) %>
              <h2><%= listing.title %></h2>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <h2>No listings made yet leh</h2>
    <% end %>
    <br>
    <%= link_to "New listing", new_listing_path %>
  </div>
</div>
