<div class="container-display">
  <p style="color: green"><%= notice %></p>

  <div class="container-all-listings">
    <h1><%= @listings.first.user.username %> Listings (<%= @listings.count %>)</h1>
    <div class="cards">
    <% @listings.each do |listing| %>
      <div class="card-trip">
        <%= render listing %>
        <%= image_tag("house1.jpeg", class: "d-block w-100 page__listing") %>
        <h2><%= link_to "#{listing.title}", listing %></h2>
      </div>
    <% end %>
    </div>
    <br>
    <%= link_to "New listing", new_listing_path %>
  </div>
</div>
