<div class="container-display">
  <p style="color: green"><%= notice %></p>

  <%= render @listing %>

  <div class="card-trip">
    <%= image_tag(@listing.image_url) %>
    <div class="card-trip-infos">
      <div>
        <h1><strong><%= @listing.title %></strong></h1>
        <h5>Description: <%= @listing.description %></h5>
        <h5>No. of rooms: <%= @listing.num_of_rooms %></h5>
        <h5>No. of beds: <%= @listing.num_of_beds %></h5>
        <h5>No. of guests: <%= @listing.num_of_guests %></h5>
        <h5>Availability: <%= @listing.start_date %> to <%= @listing.end_date %></h5>
        <div class="listing-reviews">
        <br>
          <%= link_to "Grab now 😃", new_listing_booking_path(@listing), class:"btn-mini" %>
          <br>
          <br>
          <%= link_to "Reviews how?", listing_reviews_path(@listing) %>
        </div>
      </div>
      <h2 class="card-trip-pricing"><%= @listing.price %> SGD/night</h2>
    </div>
  </div>
  <%= link_to "Edit listing", edit_listing_path(@listing) %> |
  <%= link_to "Delete listing", @listing, method: :delete %>
  <br>
  <%= link_to " ", listings_path, class:"fa-solid fa-arrow-left"%>
