<div class="container-display">
  <h1>Editing booking</h1>
  <div class="card-trip card-trip-infos">
    <%= render "form", booking: @booking %>
  </div>
</div>
<div>

  <%= link_to "Show this booking", @booking %> |
  <%# <%= link_to "Back to bookings", listing_booking_path(@listing) %> %>

  <%= link_to "Show this booking", @booking , class:"btn-medium" %>
  <%= link_to "Back to bookings", listing_booking_path(@listing) , class:"btn-medium" %>

</div>
