<h1>Your Booking ID: <%= @booking.id %></h1>

<div class="container-display">
  <p style="color: green"><%= notice %></p>

  <div class="card-trip">
    <%= image_tag(@listing.image_url) %>
    <div class="card-trip-infos">
      <div>
        <h1><strong><%= @booking.listing.title %></strong></h1>
        <h5>Number of guests: <%= @booking.num_of_guests %></h5>
        <h5>Check in: <%= @booking.start_date %></h5>
        <h5>Check out: <%= @booking.end_date %></h5>
        <div class="listing-reviews">
          <%= link_to "Edit booking",  edit_listing_booking_path(@listing) %> |
          <%= link_to "Add review", new_listing_review_path(@listing) %> |
          <%= link_to "Show all my bookings", bookings_path %>
          <%= button_to "Cancel booking", @booking, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>
