<p style="color: green"><%= notice %></p>
<h1>Your Trip Booking id: <%= @booking.id %></h1>
<%= image_tag("house1.jpeg", class: "d-block w-100 page__listing") %>
<h1><%= @booking.listing.title %></h1>
<div class="page__bar"></div><br>
<h1>Number of guests: <%= @booking.num_of_guests %></h1>
<h1>Check in: <%= @booking.start_date %></h1>
<h1>Check out: <%= @booking.end_date %></h1>

<div class="booking__show">
  <%= link_to "Show all my bookings", bookings_path %>
  <%= link_to "Add review", new_listing_review_path(@listing) %>
  <%= button_to "Cancel reservation", @booking, method: :delete, class: "btn btn-danger" %>
</div>
