<div class="d-flex flex-column justify-content-center align-items-center">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("house1.jpeg", class: "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("house2.jpeg", class: "d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("house3.jpeg", class: "d-block w-100") %>
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="page__header">
  <h1 data-controller="typed-js"></h1>
  <h2>Find your perfect next escape here</h2>
  </div>
  <div class="page__bar"></div>
  <%= render "shared/search" %> <br> <br>
  <h3>Top 3 listings</h3>
  <div class="page__listing">
    <%= image_tag("house1.jpeg", class: "d-block w-100 page__listing") %>
    <%= image_tag("house2.jpeg", class: "d-block w-100 page__listing") %>
    <%= image_tag("house3.jpeg", class: "d-block w-100 page__listing") %>
  </div>
</div>
