<!DOCTYPE html>
<html>
  <head>
    <title>Grabnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %> %>
    <%= favicon_link_tag asset_path("grab-favicon.ico") %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= render "shared/flashes" %>
    <%= yield %>
    <% if user_signed_in? %>
    <h2> Hi <%= current_user.email %></h2>
    <% end %>
    <div class="container all">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
